#login .title {
  margin-bottom: 4px;
}

#login .row {
  width: 60%;
  display: flex;
  flex-direction: column;
}

#login .ant-form-item {
  max-width: 100%;
  margin: 16px 0;
}

#login .ant-input-affix-wrapper {
  padding: 0 11px;
}

#login input {
  height: 40px;
}

#login .button {
  margin-top: 16px;
  // margin-left: 10%;
  width: 100%;
  height: 40px;
  background-color: #29292D;
  border-radius: 9px;
  font-size: 14px;
  font-weight: 700;
}

#login .newAcess {
  position: absolute  ;
  right: 20px;
  bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  color: #29292D;
}

#login .newAcess:hover {
  text-decoration: underline;
}