#home {
  display: flex;
}

.container {
  display: flex;
  width: calc(100vw - 80px);
  height: calc(100vh - 160px);
  margin: 125px 40px 35px 115px;
}

// .container {
//   width: calc(100vw - 100px);
//   height: calc(100vh - 17150px);
//   margin: 135px 60px 20px 160px;
//   display: flex;
//   flex-direction: column;
//   justify-content: center;
//   align-items: center;
// }