#settings {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  // background-color: #c3c3c3;
}

#settings .form {
  width: 80%;
  max-width: 500px;
  height: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px;
  border-radius: 9px;
  border: 2px solid #d9d9d9;
  background-color: #f5f5f5;
}

#settings .form label {
  // color: #f5f5f5;
  font-size: 16px;
}

#settings .form .ant-form-item {
  width: 60%;
}

#settings .form .ant-form-item:last-child {
  margin-bottom: 0;
}

#settings .form .ant-form-item:last-child {
  text-align: center;
}

#settings .form button {
  height: 36px;
  margin: 4px 8px;
}

#settings .form button:hover {
  border-color: #CCFE00;
  color: #CCFE00;
  box-shadow: none;
  outline: none;
}

#settings .form input:focus,
select:hover,
select:focus-within {
  border-color: #CCFE00;
  box-shadow: none;
  outline: none;
}

#settings .form .ant-input:hover,
.ant-input:focus-within,
.ant-input:focus,
.ant-input:focus-visible {
  border-color: #CCFE00;
  box-shadow: none;
  outline: none;
}