#categories-list {
  width: 100%;
  height: 100%;
}

#categories-list .ant-table table {
  border: 1px solid #d9d9d9;
  border-radius: 9px;
}

#categories-list .ant-table thead tr:first-child th:first-child {
  border-radius: 9px 0 0 0;
  border: 0px;
}

#categories-list .ant-table thead tr:first-child th:last-child {
  border-radius: 0 9px 0 0;
  border-top: 0px solid #d9d9d9;
  border-left: 0px solid #d9d9d9;
}

#categories-list .ant-table tbody tr:last-child td {
  border-bottom: 0px;
}

#categories-list .buttonContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin-bottom: 8px;
}

#categories-list .buttonContainer button:hover {
  border: solid 1px #CCFE00;
  color: #CCFE00;
}

.ant-modal-confirm-btns button:hover:not(.ant-btn-dangerous){
  border: solid 1px #CCFE00 !important;
  color: #CCFE00 !important;
}

#categories-list .table .icon {
  display: flex;
  top: 10%;
  left: 14px;
  position: absolute;
  font-size: 50px;
  transform: rotate(90deg);
  // color: #29292D;
  color: #29292D;
  font-weight: bold;
}

#categories-list .table .low {
  color: #e50000;
}

#categories-list .table th:last-child {
  width: 40%;
}

#categories-list .table .actionIcon {
  color: #29292D;
  cursor: pointer;
}

#categories-list .table .actionIcon:hover {
  color: #CCFE00;
}